header
{
	font-family: 'Shadows Into Light', cursive;
}
section
{
	font-family: 'Marck Script', cursive;
}
footer
{
	font-family: 'Special Elite', cursive;
}
img
{
	height: 275px;
	margin: 10px;
}
.icon
{
	height: 60px;
}
@media screen and (max-width: 400px)
{
	img
	{
		height: 130px;
		margin: 7px;
	}
	.icon
	{
		height: 35px;
	}
}